.banner-background {
    background-image: url('https://e0.pxfuel.com/wallpapers/676/976/desktop-wallpaper-books-background-open-notebook.jpg');
    background-size: cover;
    background-position: center;
}