/* SingleBook.css */

.mt-20 {
    display: flex;
  }
  
  .img {
    width: 120%;
    height: 120%;
    padding-left: 2%;
  }
  .text{
    padding-left: 3%;
    padding-right: 20%;
  }
  .description{
    font-size: 25px;
  }
  /* Add any other styling you need for the Banner or other elements */
  